@keyframes rotation {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotating-square {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  animation: rotation 20s linear infinite;
}

.rotating-triangle {
  background-image: url(../../images/kaufman/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  animation: rotation 20s linear infinite;
}